<h1>Awesome!</h1>

<p>Thank you for signing up, <%= @name %>. We'll be in touch with you at <%= @email %>  soon!</p>

<p> There are <%= @sign_up_count %> people signed up so far. </p>

<!-- <p> <%= @sign_up_all  %> </p> -->

<!-- <p> <%= @error  %> </p> -->